---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import bastro_font from '../assets/images/bastro_font.svg';
import plakat from '../assets/images/plakat.webp';
import prompt2 from '../assets/images/prompt2.webp';
import prompt3 from '../assets/images/prompt3.webp';
import moodboard_done from '../assets/images/moodboard_done.webp';
import ny_skitse from '../assets/images/ny_skitse.webp';
import proces2 from '../assets/images/proces2.webp';
---
<MainLayout title="Titel">
	<article class="pt-24 pb-16">
		<Image class="w-full md:max-w-[800px] max-w-[480px] h-auto md:pl-16 pl-4" src={bastro_font} alt="font"/>
		<p class="font-dm-sans md:pl-24 md:pr-[680px] pl-6 pr-6 pt-2">'Bastro' er en kraftfuld font, der med sine brede streger og korte mellemrum skaber et moderne og digitalt udtryk, der får den til at skille sig ud.</p>
	</article>
	<hr class="border-t-2 border-black w-full">
	<article id="sektion-1" class="pt-36 pb-16">
		<h1 class="font-dm-sans font-regular text-4xl md:pl-48 pl-8 pb-6">OM BASTRO</h1>
		<div class="md:grid md:grid-cols-2 md:grid-rows-2 md:pl-48 pl-8 md:pr-16 pr-6 gap-4">
			<!-- Første billede: Kolonne 1, fylder 3 rækker -->
			<div class="md:row-span-2">
			  <Image class="w-full md:max-w-[800px] max-w-[400px] h-auto" src={plakat} alt="poster"/>
			</div>
		  
			<!-- Andet billede: Kolonne 2, fylder 2 rækker -->
			<div class="md:row-span-1">
			  <Image class="w-full md:max-w-[420px] max-w-[200px] h-auto" src={prompt2} alt="prompt"/>
			</div>
		  
			<!-- Tredje billede: Kolonne 2, fylder 1 række -->
			<div class="md:row-span-1">
			  <Image class="w-full md:max-w-[420px] max-w-[200px] h-auto" src={prompt3} alt="prompt"/>
			</div>
		  </div>
		  <div>
			<p class="font-dm-sans md:pl-48 pl-8 pr-8 pt-2 pb-12">Eksempler på hvordan Bastro kan bruges.</p>
			</div>
		<div class="md:grid md:grid-cols-2 md:gap-24 md:pl-48 pl-8 md:pr-48 pr-8">
			<div>
				<h2 class="font-dm-sans font-bold md:text-2xl text-xl">Fontens udtryk</h2>
				<p>Fonten Bastro har enormt brede streger, en lav x-akse og så kort mellemrum mellem bogstaverne, at de rører hinanden. Det giver fonten et markant og robust udtryk.</p>
				<br>
				<p>Fonten er primært bygget op omkring firkantede former, hvilket især ses i bogstavernes hulrum, som i B, a og o. Det gør, at fonten har et moderne og digitalt look.</p>
			</div>
			
			<div>
				<h2 class="font-dm-sans font-bold md:text-2xl text-xl md:pt-0 pt-16">Sådan kan den bruges</h2>
				<p>Netop fordi fonten har dette markante udtryk bør den udelukkende anvendes som display-font. Den egner sig eksempelvis ikke til brødtekst eller mindre overskrifter, da læsbarheden ikke ville være optimal.</p>
				<br>
				<p>Fonten er særlig god til overskrifter på eksempelvis plakater eller i andre kunstneriske sammenhænge, hvor valget af typografi spiller en afgørende rolle for det samlede æstetiske udtryk. Derudover egner den sig til design af logo.</p>
				<br>
				<p>Der skal helst være en stor kontrast til det resterende tekst, med henblik på størrelse og vægt, før den bliver vist på bedst mulige måde. Ellers kan udtrykket blive rodet og forvirrende.</p>
			</div>
		</div>
	</article>
	<article id="sektion-2" class="pt-36 pb-16">
		<h1 class="font-dm-sans font-regular text-4xl md:pl-48 pl-8 pb-6">PROCES</h1>
		<div class="md:grid md:grid-cols-2 md:grid-rows-1 md:pl-48 pl-8 md:pr-48 pr-6 md:gap-24">
			<!-- Tekstindhold: Kolonne 1, span 1 -->
			<div class="md:col-span-1">
			 <h2 class="font-dm-sans font-bold md:text-2xl text-xl">Inspiration</h2>
			 <p class="font-dm-sans font-regular">Jeg startede med søge efter inspiration til min font på Pinterest og samlede de, der inspirerede mig i et moodboard, som kan ses på billedet til højre.</p>
			 <br>
			 <p class="font-dm-sans font-regular">Jeg blev særligt draget af de meget tykke skrifter, da jeg synes de skiller sig ud og tiltrækker opmærksomhed. Derudover synes jeg de egner sig godt til at være display-fonte og man har mange muligheder for at gøre dem unikke.</p>
			</div>
		  
			<!-- Billede og tekst: Kolonne 2, span 2 -->
			<div class="md:col-span-1">
			  <Image class="w-full md:max-w-[800px] max-w-[400px] h-auto" src={moodboard_done} alt="moodboard"/>
			  <p class="font-dm-sans font-regular pt-2">Moodboard over forskellige fonte</p>
			</div>
		</div>
	</article>
	<article class="pt-12 pb-16">
		<div class="md:grid md:grid-cols-2 md:grid-rows-1 md:pl-48 pl-8 md:pr-48 pr-6 md:gap-24">
			<!-- Tekstindhold: Kolonne 1, span 1 -->
			<div class="md:col-span-1">
			 <h2 class="font-dm-sans font-bold md:text-2xl text-xl">Udformning af fonten</h2>
			 <p class="font-dm-sans font-regular">Ud fra moodboardet valgte jeg en font, som jeg ønskede at arbejde videre med, og lavede en håndtegnet skitse af den.</p>
			 <br>
			 <p class="font-dm-sans font-regular">Jeg gav min font navnet 'Bastro', da jeg synes det rummer noget robust og bombastisk. Derefter tegnede jeg en skitse af ordet. Efterfølgende digitaliserede jeg og finjusterede de forskellige bogstaver i Illustrator.</p>
			</div>
		  
			<!-- Billede og tekst: Kolonne 2, span 2 -->
			<div class="md:col-span-1">
			  <Image class="w-full md:max-w-[800px] max-w-[400px] h-auto" src={ny_skitse} alt="skitser"/>
			  <p class="font-dm-sans font-regular pt-2">Skitser tegnet i hånden</p>
			</div>
		</div>
		<div class="md:grid md:grid-cols-2 md:grid-rows-1 md:pl-48 pl-8 md:pr-48 pr-6 md:gap-24">
			<!-- Tekstindhold: Kolonne 1, span 1 -->
			<div class="md:col-span-1 md:pt-12">
			 <p class="font-dm-sans font-regular">Da det første resultat ikke helt levede op til mine forventninger, eksperimenterede jeg med forskellige effekter i Illustrator, blandet andet 'warp,' men det gav heller ikke helt det udtryk jeg ønskede.</p>
			 <br>
			 <p class="font-dm-sans font-regular">Jeg endte med at strække i fonten, så den blev en del bredere end udgangspunktet. Man kan tydeligt se forskellen mellem billede 1 og 2. Jeg var tilfreds med stilen, så det blev mit endelige resultat.</p>
			</div>
		  
			<!-- Billede og tekst: Kolonne 2, span 2 -->
			<div class="md:col-span-1">
			  <Image class="w-full md:max-w-[800px] max-w-[400px] h-auto" src={proces2} alt="proces"/>
			  <p class="font-dm-sans font-regular pt-2">Rentegning i Illustrator (1) og efterbehandling (2)</p>
			</div>
		</div>
	</article>
</MainLayout>